<app-home></app-home>
<h3 class="mt-5 mb-3">
    Create a new Reservation
</h3>
<hr>
<!-- Declare a formGroup + ngSubmit directive binded to submit button -->
<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Check-In Date:</label>
            <!-- Give this input field a "variable" name to capture it to apply validators on it -->
            <input type="date" formControlName="checkInDate" class="form-control">
    
            <!-- If the Date field gets touched without entering a value, warning message will appear -->
             <!-- We use *ngIf to get the values from the ts file and check -->
            <small class="text-danger" *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched">
                Check-In Date is Required
            </small>
        </div>
        <div class="col">
            <label class="form-label">Check-Out Date:</label>
            <input type="date" formControlName="checkOutDate" class="form-control">
            <small class="text-danger" *ngIf="reservationForm.get('checkOutDate')?.invalid && reservationForm.get('checkOutDate')?.touched">
                Check-Out Date is Required
            </small>
        </div>
    </div>
    
    <div class="row mb-3">

        <div class="col">
            <label class="form-label">Guest Name:</label>
            <input type="text" formControlName="guestName" class="form-control">
            <small class="text-danger" *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.get('guestName')?.touched">
                Guest Name is Required
            </small>
        </div>

        <div class="col">
            <label class="form-label">Guest Email:</label>
            <input type="email" formControlName="guestEmail" class="form-control">
            <small class="text-danger" *ngIf="reservationForm.get('guestEmail')?.invalid && reservationForm.get('guestEmail')?.touched">
                Guest Email is Required
            </small>
        </div>
        
    </div>

    <div class="row mb-3">
        <div class="col-3">
            <label class="form-label">Room Number:</label>
            <input type="number" formControlName="roomNumber" class="form-control">
            <small class="text-danger" *ngIf="reservationForm.get('roomNumber')?.invalid && reservationForm.get('roomNumber')?.touched">
                Room Number is Required
            </small>
        </div>
    </div>

    <!-- Submit Button enabled/disabled dynamically when form is valid/invalid -->
    <button type="submit" [disabled]="reservationForm.invalid" class="btn btn-primary">Submit</button>

</form>